<h1>Games</h1>

<ul>
  <li ng-repeat="g in games">
    {{g.date}}
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Level</th>
          <th>Effective Level</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tr ng-repeat="p in g.players">
        <td>{{p.name}}</td>
        <td>{{p.level}}</td>
        <td>{{p.effective_level}}</td>
        <td>{{p.winner}}</td>
      </tr>
    </table>
    <button ng-click="deleteGame(g)">Delete</button>
  </li>
</ul>
