<div id="standingsPage">
  <table>
    <caption>Standings</caption>
    <thead>
      <th ng-click="sort = 'name'; reverse=!reverse">Player</th>
      <th ng-click="sort = 'num_games'; reverse=!reverse" class="number">Games</th>
      <th ng-click="sort = 'num_wins'; reverse=!reverse" class="number">Wins</th>
      <th ng-click="sort = 'num_points'; reverse=!reverse" class="number">Points</th>
      <th ng-click="sort = 'rating'; reverse=!reverse" class="number">Rating</th>
    </thead>
    <tr ng-repeat="p in players | orderBy:sort:reverse">
      <td>{{p.name}}</td>
      <td class="number">{{p.num_games}}</td>
      <td class="number">{{p.num_wins}}</td>
      <td class="number">{{p.num_points}}</td>
      <td class="number">{{p.rating | number:3}}</td>
    </tr>
  </table>
</div>
